.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 1270px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.card {
  cursor: url(../assets/svgs/pointinghand.svg), pointer;
}
.card img {
  width: 100%;
  object-fit: cover;
  height: 12.5rem;
  border-radius: 0.5rem;
}

.card .card-content {
  margin-top: 0.5rem;
}

.card .card-content .visit-icon .visit-text {
  opacity: 0;
}
.card .card-content .visit-icon:hover .visit-text {
  opacity: 1;
}
